---
import { Icon } from 'astro-icon/components';
import type { ContactItem } from "~/types";

export interface Props {
  items: Array<ContactItem>;
}

const { items } = Astro.props;
---

<article class="w-full max-w-6xl space-y-2">
  <ul class="px-6 pb-4 pt-8 sm:grid-cols-3 md:grid-cols-6">
    {
      items.map((item) => (
        <li>
          <a class="flex items-center gap-2" href={item.url} target="_blank">
            <Icon class="h-8" name={item.icon} />
            <span class="p-2 font-mono text-xl">{item.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</article>
