---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import { getI18N } from "~/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---

<section class="relative w-full h-full bg-black">
  <Starfield />
  <aside id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </aside>
    <article class="relative flex w-full h-full justify-center items-center flex-col lg:flex-row ">
    <h2
      class="gradient-text flex flex-col lg:w-[100vh] px-10 gap-2 self-center text-center font-extrabold tracking-tighter text-4xl lg:text-5xl sm:gap-4 sm:self-auto sm:justify-self-center"
    > {i18n.splash.title}
    </h2>
    <div class="flex flex-col items-center lg:px-0" >
      <img src="LogoRPGWhite.png" style="height: 250px; width: auto;" class="lg:p-0 p-8 object-scale-down" alt="Logo RPG">
      <img src="logo-white.png" style="height: 220px; width: auto;" class="lg:p-0 px-8 object-scale-down" alt="Logo con texto RPG">
    </div>
  </article>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>